/* On ne gardera que la color et la position pour tous les .target */
.fas {
  color: white;
}
i {
  position: absolute;
}
#dataDisplay {
  width: 100%;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
}
