/* On ne gardera que la color et la position pour tous les .target */


.fas {
  color: white;
}
#ordi {
  position: absolute;
  left: 45%;
  top: 51%;
}
#frigo {
  position: absolute;
  left: 75%;
  top: 51%;
}
#lit {
  position: absolute;
  left: 75%;
  top: 67%;
}
#displayData {

}
