/* On ne gardera que la color et la position pour tous les .target */
.fas {
  color: white;
}
i {
  position: absolute;
}
#dataDisplay {
  color: red;
  position: absolute;
  bottom: 5%;
  left: 50%;
  font-size: 20px;
  padding: 20px;
  border: 1px green dotted;
  background-color: black;
}
